<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pine.player">

    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <service
            android:name="com.pine.player.service.PineMediaSocketService"
            android:exported="false">
            <intent-filter>
                <action android:name="media.socket.server" />
            </intent-filter>
        </service>
        <service
            android:name="com.pine.player.service.PineMediaPlayerService"
            android:exported="false">
            <intent-filter>
                <action android:name="media.player.server" />
            </intent-filter>
        </service>
    </application>

</manifest>
